
* {
	max-width: 900px;
	margin: auto;
}

html {
	border: 5px solid #141469;
	margin: auto;
	margin: 15px;
}

.main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.main-nav li {
	display: inline-block;
	margin: 0.7em;
	float: right;
}
.main-nav a {
	text-decoration: none;
	font-family: courier, sans-serif;
	font-size: 11px;
	color: #141469;
}
.main-nav li a:hover {
	text-decoration: none;
}
h1, h2 {
	font-family: Georgia, sans-serif;
}
h1 {
	font-size: 30px;
	text-align: center;
	color: #141469;
}
h2 {
	font-size: 24px;
	color: #244b0d;
}
img {
	padding: 50px;
	margin: 10px;
}
.secA {
	max-width: 45%;
	float: left;
}
.secA li {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
.secB {
	max-width: 45%;
	float: right;
}
.secB li {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
p {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
footer {
	font-family: courier, sans-serif;
	font-size: 11px;
}